@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-image: url("../img/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

.section-1 {
    padding: 50px 0 0 0 !important;
}

/*alert styling*/
.jconfirm.jconfirm-supervan .jconfirm-bg {
    background-color: rgb(141 55 55 / 86%);
}

/*stopwatch styling*/
.stopwatch {
    display: grid;
    justify-items: center;
    grid-row-gap: 23px;
    width: 100%;
    padding-top: 25px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    height: 100px;
    width: 100px;

    border: none;
    border-radius: 50%;

    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0px 20px 7px rgb(0 0 0 / 45%);
    backdrop-filter: blur(5px);
}

.time{
    font-family: "Roboto Mono", monospace;
}

/*puzzle container*/
.puzzle-container {
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 40px;
    width: fit-content;
    text-align: center;
    height: auto;
    margin: auto;
    box-shadow: 0 0px 20px 7px rgb(0 0 0 / 45%);
    -webkit-box-shadow: 0 0px 20px 7px rgb(0 0 0 / 45%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 50px 50px;

}
.correct{
    margin: 0 0 15px;
    color: white;
}

/*row styling*/
.level {
    margin: 0;
    padding: 0;
    height: 40px;
}

/*styling for squres*/

input[type= "text"]:focus {
    outline: none;
}

.white-square {
    -webkit-appearance: none;
    box-shadow: inset 0 0 3px #000;
    border: 1px solid transparent;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0;
    float: left;
    padding: 0;
    font-weight: 600;
    -webkit-border-radius: 0;
    -webkit-box-shadow: inset 0 0 3px #000;
    opacity: 1;
}

.black-square {
    -webkit-appearance: none;
    border: 1px solid transparent;
    background-color: transparent;
    color: #000000;
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: context-menu;
    margin: 0;
    float: left;
    -webkit-border-radius: 0;

}

.given {
    color: #ee3e4d;
    cursor: default;
}

.cont {
    display: flex;
    position: relative;
    height: auto;
    width: auto;
    margin: 0;
    float: left;
}

.num {
    position: absolute;
    top: 10%;
    left: 10%;
    text-align: left;
    color: #000000;
    font-size: 0.6em;
    line-height: 1em;
    pointer-events: none;
}

/*button styling*/
#start-btn, #next-btn {
    margin: 50px auto;
}

.section-2 {
    padding: 50px;
    width: 50%;
    margin: auto;
}

.btn-cont {
    text-align: center;
}

.btn-cust {
    position: relative;
    width: 170px;
    box-shadow: 0px 0px 7px 0px #0000008c;
    text-transform: uppercase;
    background-color: #cf245f;
    background-image: linear-gradient(to bottom right, #fcd34d, #ef4444, #ec4899);
    border: 0;
    border-radius: 40px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 15px; /* 18px */
    font-weight: 400;
    line-height: 1.75rem; /* 28px */
    padding: 1rem 1.25rem;
    text-align: center;
    touch-action: manipulation;
}

.loader {
    position: absolute;
    right: -30px;
    top: 35%;
    transform: translateY(-50%);
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #db3434; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#save-btn {

    background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC 51%, #02AAB0 100%)

}

.btn-cust:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

/*hints section*/
.section-3 {
    padding: 0 50px 50px;
}

.hints-title {
    margin: 0 0 20px 0 !important;
}

.hints {
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 40px;
    width: fit-content;
    text-align: center;
    height: auto;
    margin: auto;
    box-shadow: 0 0px 20px 7px rgb(0 0 0 / 45%);
    -webkit-box-shadow: 0 0px 20px 7px rgb(0 0 0 / 45%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 50px 50px;
    color: white;
    font-weight: 100;
}

.hint-num {
    float: left;
    font-weight: 600;
    margin-right: 20px;
}

.hints-p {
    text-align: left;
}


@media (max-width: 1024px) {
    .section-2 {
        padding: 50px 0;
    }

    .btn-cust {
        font-size: 15px; /* 24px */
        padding: 1rem 1.5rem;
        line-height: 2rem; /* 32px */
        margin: 10px 0;

    }
}


@media (max-width: 780px) {
    .section-3 {
        padding: 0 10px;
    }

    .level {
        height: 30px;
    }

    .black-square {
        width: 30px;
        height: 30px;
    }

    .white-square {
        width: 30px;
        height: 30px;
    }

    .section-2 {
        width: 70%;
    }
}

@media (max-width: 610px) {
    .puzzle-container {
        padding: 30px;
    }

    .num {
        font-size: 0.4em;
    }

    .level {
        height: 25px;
    }

    .black-square {
        width: 25px;
        height: 25px;
    }

    .white-square {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 575px) {
    .level {
        height: 25px;
    }

    .black-square {
        width: 25px;
        height: 25px;
    }

    .white-square {
        width: 25px;
        height: 25px;
    }

}

@media (max-width: 485px) {
    .puzzle-container {
        padding: 30px 10px;
    }

    .level {
        height: 20px;
    }

    .black-square {
        width: 20px;
        height: 20px;
    }

    .white-square {
        box-shadow: inset 0 0 3px #0000009e;
        -webkit-box-shadow: inset 0 0 3px #0000009e;
        font-size: 12px;
        width: 20px;
        height: 20px;
    }

}

@media (max-width: 360px) {
    .puzzle-container {
        padding: 30px 10px;
    }

    .level {
        height: 18px;
    }

    .black-square {
        width: 18px;
        height: 18px;
    }

    .white-square {
        box-shadow: inset 0 0 3px #0000009e;
        -webkit-box-shadow: inset 0 0 3px #0000009e;
        font-size: 12px;
        width: 18px;
        height: 18px;
    }

}

@media (max-width: 320px) {
    .puzzle-container {
        padding: 30px 10px;
    }

    .level {
        height: 15px;
    }

    .black-square {
        width: 15px;
        height: 15px;
    }

    .white-square {
        box-shadow: inset 0 0 3px #0000009e;
        font-size: 10px;
        width: 15px;
        height: 15px;
    }

}